@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #eee;
  background-color: #000000;
}

a {
  text-decoration: none;
  color: #eee;
}


.bkgrd-image {
  background: url(./images/dgrbwimageresize.png) no-repeat;
  height: 100%;
  background-size: cover;
  position: relative;
  color: #fff;


}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

.bottom-left-text {
  position: absolute;
  bottom: 0;
  left: 1.7rem;
}