@import "https://fonts.googleapis.com/css?family=Dosis:200,400|Noto+Sans+K";
body {
background-color: black;
}

h1, p {
  text-align: center;
}

h1.neon-header {
  font-family: 'Dosis', sans-serif;
  font-size: 100px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #9D00FF,
  0px 0px 20px #9D00FF,
  0px 0px 30px #9D00FF,
  0px 0px 40px #9D00FF,
  0px 0px 50px #9D00FF,
  0px 0px 60px #9D00FF;
}

 /* TEXT */
.start {
  font-family:'Dosis', sans-serif;
  color: #9D00FF;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0;
	justify-content: center;
}

.yellow-wins {
  font-family:'Dosis', sans-serif;
  font-size: 2em;
  width: 6em;
	padding: 0.3em;
  margin: 1% auto;
  transition: transform .5s;
  transform:  scale(2);
}

.green-wins {
  font-family:'Dosis', sans-serif;
  font-size: 2em;
  width: 6em;
	padding: 0.3em;
  margin: 2% auto;
  transition: transform .5s;
  transform:  scale(1);
}
/* TOP BUTTONS  */
.container {
  width: 730px;
  margin: auto;
  display: block;

}

.drop {
  background-color: #FD5F00;
  background-size: 400% 400%;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08em;
  margin-left: 35px;
  padding: 0 3em;
  border: none;
}

 /* GAMEBOARD AND CIRCLES AND CHIPS */
#gameboard {
  width: 45em;
  height: 40em;
  margin: 1% auto;
  display: block;
  border: 5px solid #9D00FF;
  border-radius: 5%;
  background-color: black;

}

.circle {
  width: 3.7em;
	height: 3.7em;
  display: inline-block;
	background: #ede8e2;
  border-radius: 50%;
  margin: 1%;
  padding: 2%;
  box-shadow: 3px 2px 2px 2px #888888;
}


.green-chip {
  width: 3.7em;
	height: 3.7em;
	background:#33FF00;
  border-radius: 50%;
  margin: 1%;
  padding: 2%;
}

.yellow-chip {
  width: 3.7em;
	height: 3.7em;
	background: #F3F315;
  border-radius: 50%;
  margin: 1%;
  padding: 2%;
}
 /* RESTART  */
#restart {
  margin: 4% auto;
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 3em;
  background: #9D00FF;
  border: 2px solid #4CC417;
}

/* FOOTER */
footer {
  text-align: justify;
  text-transform: uppercase;
  color: #F3F315;
  font-size: 12px;
  font-weight: bold;
  padding: 0 20px;
  letter-spacing: .08em;
}
 /* ANIMATION TOP HEADER */
@keyframes flickering-1 {
    0% { opacity: 1; }
    52% { opacity: 1; }
    55% { opacity: 0; }
    56% { opacity: 1; }
    100% { opacity: 1; }
}
@keyframes flickering-2 {
  0% { opacity: 1; }
  62% { opacity: 1; }
  65% { opacity: 0; }
  66% { opacity: 1; }
  69% { opacity: 0; }
  70% { opacity: 1; }
  73% { opacity: 0; }
  74% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes flickering-3 {
  0% { opacity: 1; }
  82% { opacity: 1; }
  84% { opacity: 0; }
  85% { opacity: 1; }
  87% { opacity: 0; }
  88% { opacity: 1; }
  90% { opacity: 0; }
  91% { opacity: 1; }
  100% { opacity: 1;}
}
/* FLICKERING ANIMATION h1  */
span.flickering-1 {
  animation: flickering-1 6s infinite;
}
span.flickering-2 {
  animation: flickering-2 3s infinite;
}
span.flickering-3 {
  animation: flickering-3 5s infinite;
}
