@import "https://fonts.googleapis.com/css?family=Dosis:200,400|Noto+Sans+K";
body {
/* background-image: url(../images/greylines.png) no-repeat; */
background-color: black;
/* background-size: 100%; */
/* padding-top: 200px; */
}

h1, p {
  text-align: center;
}

h1.neon-header {
  font-family: 'Dosis', sans-serif;
  font-size: 100px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #9D00FF,
  0px 0px 20px #9D00FF,
  0px 0px 30px #9D00FF,
  0px 0px 40px #9D00FF,
  0px 0px 50px #9D00FF,
  0px 0px 60px #9D00FF;
  animation: text-flicker 3s linear infinite;

}

/*
  font-weight: bold;
  padding: 0 3em;
  color: #FF357F;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 900;
  font-size: 60px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
} */
 /* TEXT */
.start {
  font-family:'Dosis', sans-serif;
  color: #4CC417;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0;
	justify-content: center;
}

.pink-wins {
  font-size: 20px;
  font-family:'Dosis', sans-serif;
  font-weight: bold;
  width: 6em;
	padding: 0.3em;
  margin: 3% auto;
  transition: transform .5s;
  transform:  scale(2);
  text-shadow: 0px 0px 10px #4CC417,
  0px 0px 20px #4CC417,
  0px 0px 30px #4CC417,
  0px 0px 40px #4CC417,
  0px 0px 50px #4CC417,
  0px 0px 60px #4CC417;
}

.light-blue-wins {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 0.02em;
	padding: 0.3em;
  margin: 3% auto;
  transition: transform .5s;
  transform:  scale(2);
  text-shadow: 0px 0px 10px #4CC417,
  0px 0px 20px #4CC417,
  0px 0px 30px #4CC417,
  0px 0px 40px #4CC417,
  0px 0px 50px #4CC417,
  0px 0px 60px #4CC417;
}
/* TOP BUTTONS  */
.container {
  width: 730px;
  margin: auto;
  display: block;

}

.drop {
  background-color: #FD5F00;
  background-size: 400% 400%;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08em;
  margin-left: 35px;
  padding: 0 3em;
  border: none;
}
/* .circle-button {
  display: inline-block;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0 1.3em;
  border: none;
  background-color: transparent;
  color: #cd4985;
} */


 /* GAMEBOARD AND CIRCLES AND CHIPS */
#gameboard {
  width: 45em;
  height: 40em;
  margin: 1% auto;
  display: block;
  border: 5px solid #9D00FF;
  border-radius: 5%;
  background-color: black;

}

.circle {
  width: 3.7em;
	height: 3.7em;
  display: inline-block;
	background: #ede8e2;
  border-radius: 50%;
  margin: 1%;
  padding: 2%;
  box-shadow: 5px 2px 2px 2px #888888;
}


.pink-chip {
  width: 3.7em;
	height: 3.7em;
	background:#F3F315;
  border-radius: 50%;
  margin: 1%;
  padding: 2%;
}

.light-blue-chip {
  width: 3.7em;
	height: 3.7em;
	background: #39ff14;
  border-radius: 50%;
  margin: 1%;
  padding: 2%;
}
 /* RESTART  */
#restart {
  margin: 4% auto;
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 3em;
  background: rgba(59,173,227,1);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  border: 2px solid #4CC417;
}
 /* ANIMATION */
